.banner {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/images/contador-publico1.jpg);
    /* background:url(https://64.media.tumblr.com/db890783496f5e16a3390ccecdb0336c/tumblr_pqpw7uZhtt1uzwgsuo1_400.gifv); */
    /*https://i0.wp.com/media.giphy.com/media/5ERaOy5fQEIAU/giphy.gif*/
    background-size: cover;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding: 40px 15px;
    box-sizing: border-box;
    
  }
  
  .big-text {
    font-size: 130px;
    font-weight:800;
    animation-delay: 1s;
  }

    .small-text {
        margin-top: 20px;
        font-size: 50px;
        font-weight: 800;
        color: #8394aa;
        animation-delay: 2s;
        font-style: oblique;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

  .banner a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

    padding: 10px 20px;
    border: 1px solid #fff;


    display: inline-block;
    animation-delay: 2s;
 
  }
  .banner a:hover {
    background: #000 !important;
    color: #fff !important;
 
  }



  @media (max-width: 768px) {
    .banner {
      height: 30vh;
    }
    .banner h1 {
      font-size: 30px;
    }
    .banner a {
    display: block;
    margin: 20px auto;
    font-size: 10px;

    }
  }
